.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  /* overflow: hidden; */
}

.dotFlashing {
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background: #EBF479;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dotFlashing::before {
    left: -10px;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
}

.dotFlashing::after {
    left: 10px;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
}

.dotFlashing::before,
.dotFlashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background: #EBF479;

}

@keyframes dotFlashing {
    0% {
      background: #EBF479;
    }
    100% {
      background-color: #ebe6ff;
    }
  }