.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  /* overflow: hidden; */
}

.dotFlashing {
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background: #EBF479;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dotFlashing::before {
    left: -10px;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
}

.dotFlashing::after {
    left: 10px;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
}

.dotFlashing::before,
.dotFlashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background: #EBF479;

}

@keyframes dotFlashing {
    0% {
      background: #EBF479;
    }
    100% {
      background-color: #ebe6ff;
    }
  }

.wrapper {
  position: relative;
  width: 31px;
  height: 31px;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 31px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid rgba(151, 154, 190, .5);
  border-right-color: rgba(235, 244, 121, 1);
  animation: l2 1s infinite linear;
}

.number {
  position: absolute;
  z-index: 2;
  width: 31px;
  height: 31px;
  color: #fff;
  text-align: center;
  line-height: 31px;
}
@keyframes l2 {to{transform: rotate(1turn)}}