@import 'bootstrap';
@import 'swiper/css';
@import 'swiper/css/autoplay';

@font-face {
  font-family: 'Coinbase Sans';
  font-style: normal;
  src: url('/fonts/Coinbase_Sans-Regular-web-1.32') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* gantari-800italic - latin */
@font-face {
  font-family: 'Coinbase Sans';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Coinbase_Sans-Bold-web-1.32.Ttf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Coinbase Display';
  font-style: normal;
  src: url('/fonts/Coinbase_Display-Regular-web-1.32.Ttf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* gantari-800italic - latin */
@font-face {
  font-family: 'Coinbase Display';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Coinbase_Display-Bold-web-1.32.Ttf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body,
html {
  --body-top-padding: 24px;
  -webkit-font-smoothing: antialiased;
  color: var(--sand12);
  font: var(--text-base);
  font-family: Coinbase Sans;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.btn {
  text-decoration: none;
}

#near-wallet-selector-modal .open {
  z-index: 1001;
}

#w3m-modal {
  z-index: 1002;
}

#launcher {
  color-scheme: light;
  width: 48px;
  height: 50px;
  padding: 0px;
  margin: 10px 20px;
  position: fixed;
  bottom: 10px;
  overflow: visible;
  opacity: 1;
  border: 0px;
  z-index: 999998;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-property: opacity, top, bottom;
  right: 10px;
}

div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /**/
}
div::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}
div::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  cursor: pointer;
}
div::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 650px) {
  #launcher {
    right: 2px;
    bottom: 10px;
  }
}

@media (max-width: 650px) {
  :root {
    --account-center-position-bottom: 50px;
  }

  body {
    overflow-x: hidden;
  }
}
:root {
  --account-center-z-index: 100;
}
